.container {
    background: white;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 70rem; /* Limit container width for responsiveness */
    padding: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 0rem;
    display: flex;
    flex-direction: column;
}

.headerText {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    text-align: center; /* Center align the text */
    font-weight: 700;
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Responsive grid */
    gap: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2rem;
}

.inputContainer div {
    display: flex;
    flex-direction: column;
}

.inputText {
    padding: 6px 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5rem; /* 24px */
    width: 100%;
}

.inputLabel {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.postImage {
    height: auto; /* Responsive height */
    max-width: 100%; /* Responsive width */
    margin-bottom: 2rem;
}

.btn {
    background: #D5B263;
    color: white;
    font-size: 1.5rem; /* 24px */
    width: 100%;
    text-align: center; /* Center align the button */
}

@media (min-width: 1024px) {
    .inputContainer {
        grid-template-columns: repeat(2, minmax(20rem, 1fr)); /* Responsive grid */

    }
    .postImage {
        max-width: 50%; /* Responsive width */
    }
    
    .btn {
        width: 50%;
    }
    .container {
        padding: 2rem;
        border-radius: 2rem;
    }
}
